{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME_VERSION": "~7",
    "FUNCTIONS_WORKER_RUNTIME": "powershell",    

    "APIKey_STS":  "STS.4466731b-1437-4f38-85ad-28f628c9db76",
    "DBKey_STS": "WdfdHNJ54b2thmN9HRyySk9QKz7WaYCMhTBTF9xT39nWeE95r5u6ktYCLgUhEMgQtNVzqhWduTATTya7H2MseQ=="
  }
}
